.tmenu__meal{
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    @include card-shadow;
    border-radius: 15px;
    position: relative;

    &--name{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        h3{
            font-size: 18px;
            font-weight: 500;
            margin: 12px 0 5px 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        p{
            font-size: 15px;
            font-weight: 300;
            margin: 0px 0 12px 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &--price{
        margin-left: auto;
        display: flex;
        align-items: flex-end;
        

        span{
            font-size: 15px;
            font-weight: 700;
            padding: 0 15px 13.5px 0;
        }
    }

    &--price::after{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0px;
        height: 69px;
        font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f058";
        background-color: $tertiary-color;
        border-radius: 0 15px 15px 0;
        transition: 0.7s;
        color: white;
        font-size: 0;
    }

}


.tmenu__meal:hover{
    .tmenu__meal--price::after{
        width: 69px;
        font-size: 20px;
    }
}